.items {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 970px;
}

.items li {
  width: 300px;
  height: 123px;
  list-style: none;
  border: 1px solid green;
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 18px;
}

.items li:last-child {
  position: absolute;
  right: 0;
  top: 283px;
}

.promo-wrapper {
  position: relative;
  height: 409px;
}

.promo-wrapper h2 {
  position: absolute;
  opacity: 0;
}

.slider {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 141px;
  left: 9px;
}

.slider li {
  list-style: none;
  width: 620px;
  display: none;
}

.slider .active {
  display: block;
}

.slider h3,
.slider p,
.slider a {
  position: absolute;
}

.slider h3 {
  font: bold 36px/36px 'Cuprum';
  left: 24px;
  top: 23px;
}

.slider-nav {
  position: relative;
  width: 620px;
  z-index: 20;
  text-align: center;
}
